<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accordion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label>Accordion Sample</ion-label>
  <si-card>
    <si-accordion #accordion>
      <si-accordion-item>
        <si-accordion-item-header>
          <ion-item>Animals</ion-item>
        </si-accordion-item-header>
        <si-accordion-item-content>
          <ion-item>
            <ion-icon name="add-circle-outline"></ion-icon> Tiger
          </ion-item>
          <ion-item>
            <ion-icon name="checkmark"></ion-icon> Lion
          </ion-item>
        </si-accordion-item-content>
      </si-accordion-item>
      <si-accordion-item>
        <si-accordion-item-header>
          <ion-item>Birds</ion-item>
        </si-accordion-item-header>
        <si-accordion-item-content>
          <ion-item>
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>Peacock</ion-label>
          </ion-item>
        </si-accordion-item-content>
      </si-accordion-item>
    </si-accordion>
  </si-card>
</ion-content>