<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'TITLE_40.HOME' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="none">
    <ion-item>
      <ion-list-header color="medium">
        <ion-label>Components</ion-label>
      </ion-list-header>
    </ion-item>
    <ion-item-divider>
      <ion-label>Existing Simpl components</ion-label>
    </ion-item-divider>
    <ion-item (click)="gotoLogin()" detail>
      <ion-label>Log In Component</ion-label>
    </ion-item>
    <ion-item (click)="gotoAbout()" detail>
      <ion-label>About Component</ion-label>
    </ion-item>
    <ion-item (click)="gotoAccordion()" detail>
      <ion-label>Accordion Component</ion-label>
    </ion-item>
    <ion-item (click)="gotoCard()" detail>
      <ion-label>Message card Component</ion-label>
    </ion-item>
    <ion-item (click)="gotoSlider()" detail>
      <ion-label>Slider Component</ion-label>
    </ion-item>
    <ion-item-divider>
      <ion-label>Ionic components</ion-label>
    </ion-item-divider>
    <ion-item detail>
      <ion-label>Button Component</ion-label>
    </ion-item>
  </ion-list>
</ion-content>