<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'TITLE_40.HOME' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <si-message-card title="Server Status" prompt="" icon="siveillance-dynamic-data" color="primary" (click)="serverStatus()">
  </si-message-card>
  <si-message-card title="Card Holders" prompt="" icon="siveillance-cardholders" color="primary">
  </si-message-card>
  <si-message-card title="Activity Feed" prompt="" icon="siveillance-activity-feed" color="primary">
  </si-message-card>
  <si-message-card title="Access Control" prompt="Description of the prompt goes here" icon="siveillance-access-controller" color="primary">
  </si-message-card>
</ion-content>